.vs/
bin/
localfeed/
obj/
*.user
*.suo

# Ignore all JSON files
*.json

# Logs
*.log

# VS Code
.vscode/

# Docker overrides
docker-compose.override.yml

# Test outputs
TestResults/
coverage/

# Environment files
.env
.env.*
*.txt
*.config
# OS files
Thumbs.db
.DS_Store
!nuget.config
!docker-compose.yml